{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connections List</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<header style=" background-color:black; color: white; height: 50px; display: flex; flex-direction:row; justify-content: center; align-items: baseline;">

    <img src="{% static 'img/sabao-jua-branca.png' %}">
</header>
<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script>
    function getLink(aCode){
        alert(aCode);
    }
</script>
</body>
</html>