{% load static %}
{% for c in connections %}
<a href="https://start.teamviewer.com/{{ c.code }}" target="_blank" xmlns="http://www.w3.org/1999/html">
<div class="chip">
  <img src="{% static '/img/' %}{{ c.device }}.png" alt="Person" width="96" height="96">
  <div class="content">
    <span class="fw-16">{{ c.description }}</span>
    <br>
    <small><b>Nome:</b> {{ c.name }}</small>
    <br>
    <small><b>IP:</b> {{ c.ip }}</small>
    <br>
    <small><b>MAC:</b>{{ c.mac }}</small>

    </div>

</div>
</a>
{% endfor %}